// include default config from upstream
include "/usr/share/bbb-fsesl-akka/conf/application.conf"

// This is managed by chef. Modification is futile
// change the attributes under node['bigbluebutton']['fsesl_akka']

<%= format_as_hocon(@fsesl_akka) %>
